<footer>
    <div>
    <section>
        <h2>Sobre</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum magni eum nisi exercitationem deleniti! Minus, libero. Ipsa dolore, nostrum sunt error ipsam rem incidunt atque, eveniet debitis impedit, illum modi?</p>
    </section>
    <section>
        <h2 class="contato">Contato</h2>
        <ul>
            <li>
                <a routerLink="#"><i class="fa-solid fa-envelope"></i> Fale conosco</a>                
            </li>
            <li>
                <a routerLink="#"><i class="fa-solid fa-phone"></i> (00) 0 0000 - 0000</a>
            </li>
            <li>
                <a routerLink="#"><i class="fa-brands fa-whatsapp"></i> (00) 0 0000 - 0000</a>
            </li>
        </ul>
    </section>
</div>
    <p>&copy;Todos os direitos reservados</p>
</footer>
