footer{
    background-color: var(--cor);
    color: var(--cor1);
    font-size: 1.5;
}

section{
    height: 200px;
    width: 300px;
    margin: 50px;
}   

div {
    display: flex;
    justify-content: center; 
    text-align: justify;  
    
}

a {
    text-decoration: none;
    color: var(--cor1); 
    margin-left: -35px;
}

li{
    list-style-type: none;
        
}

footer>p{
    text-align: center;
}




