/* You can add global styles to this file, and also import other style files */

:root{
    --cor:#031242;
    --cor1:#ffffff;
    --cor3:#082EA8;
}
*{
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
